<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="text-center">
    <main class="form-signin">

        <h3 style="text-align: center;margin-top: 180px;">Spring Security Example</h3> 
        <p th:if="${param.error}" class="error" style="
    margin: auto;
    text-align: center;
">
            Bad Credentials  
        </p>
        <form th:action="@{/appLogin}" method="POST" style="margin-left: 711px;">
            <table border='1' cellspacing='0' cellpadding='10'>
              <tr><td>Username:</td> <td> <input type="text" name="username"/> </td></tr>
              <tr><td>Password:</td> <td> <input type="password" name="password"/> </td></tr>
              <tr><td colspan='2' align='center'> <input type="submit" value="Login"/> </td> </tr>
            </table>
        </form>
    </main>
</body>
</html>